<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <%= link_to 'Verbum', godmin.root_path, class: "navbar-brand" %>
  </div>
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li><%= link_to 'Dashboard', godmin.root_path %></li>
      <li><%= link_to 'Psalms', "#" %></li>
      <li><%= link_to 'Occasion Templates', "#" %></li>
      <li><%= link_to 'Occasion', "#" %></li>
    </ul>
  </div>
</nav>
