<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="checkbox">
      <%= f.label :remember_me do %>
        <%= f.check_box :remember_me %> TRANSLATE ME
      <% end %>
    </div>
  <% end %>

  <div><%= f.submit "Sign in", class: "btn btn-primary" %></div>
<% end %>

<%= render "devise/shared/links" %>
