<% if @resource_service.filter_map.present? %>
  <div id="filters" class="panel panel-default">
    <div class="panel-body">
      <%= filter_form do |f| %>
        <%= f.hidden_field :scope, value: params[:scope] %>
        <%= f.hidden_field :order, value: params[:order] %>

        <% @resource_service.filter_map.each do |name, options| %>
          <%= partial_override "filters/#{name}", f: f, name: name, options: options do %>
            <%= f.filter_field(name, options) %>
          <% end %>
        <% end %>

        <div class="form-group pull-right">
          <label class="control-label">&nbsp;</label><br>
          <%= f.apply_filters_button %>
          <%= f.clear_filters_button %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
