<div class="panel panel-default">
  <div class="panel-body">
    <%= form_tag params, method: :get, class: "form-inline" do %>

      <%= hidden_field_tag :scope, nil, value: params[:scope] %>

      <% filter_map.each do |name, options| %>
        <div class="form-group">
          <%= label_tag name, options[:label] %><br>
          <%= filter_input_tag name, options %>
        </div>
      <% end %>

      <div class="pull-right">
        <label>&nbsp;</label><br>
        <%= button_tag "Apply", class: "btn btn-default" %>
        <%= link_to "Clear", polymorphic_path(resource_class, scope: params[:scope]), class: "btn btn-default" %>
      </div>

    <% end %>
  </div>
</div>
