<div class="panel panel-default">
  <div class="panel-body">
    <%= form_tag params, method: :get, class: "form-horizontal" do %>

      <div class="form-group input-group-sm">
        <% filter_map.each do |name, options| %>
          <div class="col-lg-2" style="padding-top:10px">
            <%= label_tag name, options[:label] %>
            <%= filter_input_tag name, options %>
          </div>
        <% end %>
        <div class="col-lg-2" style="padding-top:10px">
          <%= button_tag class: "btn btn-primary btn-sm", style: "margin-top:23px;" do %>
            <span class="glyphicon glyphicon-filter"></span> Filtrera
          <% end %>
          <%= link_to polymorphic_path([:admin, resource_class], scope: params[:scope]), class: "btn btn-danger btn-sm", style: "margin-top:23px;" do %>
            <span class="glyphicon glyphicon-remove"></span> Rensa
          <% end %>
        </div>
      </div>

      <%= hidden_field_tag :scope, nil, value: params[:scope] %>

    <% end %>
  </div>
</div>
