<% if @resource_service.filters.present? %>
  <div id="filters" class="panel panel-default">
    <div class="panel-body">
      <%= filter_form do |f| %>
        <%= f.hidden_field :scope, value: params[:scope] %>
        <%= f.hidden_field :order, value: params[:order] %>

        <% @resource_service.filters.each do |_name, filter| %>
          <%= render partial: filter, locals: { form: f, filter: filter } %>
        <% end %>

        <div class="form-group pull-right">
          <label class="control-label">&nbsp;</label><br>
          <%= f.apply_filters_button %>
          <%= f.clear_filters_button %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
