<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Filter</h3>
  </div>
  <div class="panel-body">
    <%= form_tag '#', method: :get, class: "form-horizontal" do %>

      <% filter_map.each do |name, options| %>
        <div class="form-group">
          <%= label_tag resource_class.human_attribute_name(name), nil, class: "col-lg-4 control-label" %>
          <div class="col-lg-8">
            <%= filter_input_tag name, options %>
          </div>
        </div>
      <% end %>

      <div class="form-actions form-group">
        <div class="col-lg-8 col-lg-offset-4">
          <%= button_tag class: "btn btn-primary" do %>
            <span class="glyphicon glyphicon-filter"></span> Filtrera
          <% end %>
          <%= link_to url_for([:admin, resource_class]), class: "btn btn-danger" do %>
            <span class="glyphicon glyphicon-remove"></span> Rensa
          <% end %>
        </div>
      </div>

    <% end %>
  </div>
</div>
