<div class="pull-sm-left">
  <% if @resource_service.paginator.total_pages > 1 %>
    <nav>
      <ul class="pagination">
        <% unless @resource_service.paginator.pages.first == 1 && @resource_service.paginator.current_page == @resource_service.paginator.pages.first %>
          <li class="page-item"><%= link_to translate_scoped("pagination.first"), params.merge(page: 1), class: "page-link" %></li>
          <li class="page-item"><%= link_to "«", params.merge(page: @resource_service.paginator.current_page - 1), class: "page-link" %></li>
        <% end %>
        <% unless @resource_service.paginator.pages.first == 1 %>
          <li class="page-item disabled"><%= link_to "…", class: "page-link" %></li>
        <% end %>
        <% @resource_service.paginator.pages.each do |page| %>
          <li class="page-item <%= "active" if page == @resource_service.paginator.current_page %>">
            <%= link_to page, params.merge(page: page), class: "page-link" %>
          </li>
        <% end %>
        <% unless @resource_service.paginator.pages.last == @resource_service.paginator.total_pages %>
          <li class="page-item disabled"><%= link_to "…", class: "page-link" %></li>
        <% end %>
        <% unless @resource_service.paginator.pages.last == @resource_service.paginator.total_pages && @resource_service.paginator.current_page == @resource_service.paginator.pages.last %>
          <li class="page-item"><%= link_to "»", params.merge(page: @resource_service.paginator.current_page + 1), class: "page-link" %></li>
          <li class="page-item"><%= link_to translate_scoped("pagination.last"), params.merge(page: @resource_service.paginator.total_pages), class: "page-link" %></li>
        <% end %>
      </ul>
    </nav>
  <% end %>
</div>
<div class="pagination-entries pull-sm-right hidden-sm-down">
  <% if @resources.length == 0 %>
    <%= translate_scoped("pagination.entries.zero", {
      resource: @resource_class.model_name.human(count: @resources.length).downcase
    }) %>
  <% else %>
    <%= translate_scoped("pagination.entries.other", {
      resource: @resource_class.model_name.human(count: @resources.length).downcase,
      count: @resources.length,
      total: @resource_service.paginator.total_resources
    }) %>
  <% end %>
</div>
