<%= render partial: "breadcrumb" %>
<%= render partial: "scopes" %>
<%= render partial: "filters" %>

<div data-behavior="batch-actions-container">
  <%= render partial: "actions" %>
  <%= render partial: "table" %>
</div>

<%= render partial: "pagination" %>
