<%= render partial: 'header', locals: { resource_class: resource_class } %>

<div class="row">
  <div class="col-md-12">
    <%= render partial: 'filters' %>
  </div>
  <div class="col-md-12">

    <%= form_tag(polymorphic_path([:batch_action, :admin, resource_class]), id: 'batch-process-form') do %>

      <%= render partial: 'scopes' %>

      <%= render partial: 'batch_actions' %>

      <%= render partial: 'table' %>

      <%= paginate collection %>
      <div class="pull-right">
        <%= page_entries_info collection %>
      </div>

    <% end %>

  </div>
</div>
