<%= render partial: 'header', locals: { resource_class: resource_class } %>

<div class="row">
  <div class="col-md-8">

    <%= form_tag(polymorphic_path([:batch_action, :admin, resource_class]), id: 'batch-process-form') do %>

      <%= render partial: 'scopes' %>

      <%= render partial: 'batch_actions' %>

      <%= render partial: 'table' %>

      <%= paginate collection %>

    <% end %>

  </div>
  <div class="col-md-4">
    <%= render partial: 'filters' %>
  </div>
</div>
