<h1>
  <%= resource_class.model_name.human %> <%= resource.id %>
  <small><%= link_to 'Edit', [:edit, :admin, resource], class: "btn btn-primary" %></small>
  <%= link_to [:new, :admin, resource_class.to_s.underscore.to_sym], class: 'btn btn-primary pull-right' do %>
    <span class="glyphicon glyphicon-plus"></span> Lägg till ny
  <% end %>
</h1>
<table class="table">
  <% resource.attributes.sort.each do |key, value| %>
  <tr>
    <th><%= resource_class.human_attribute_name(key) %></th>
    <td><%= value %></td>
  </tr>
  <% end %>
</table>
