<!doctype html>
<html>
  <head>
    <title><%= t("godmin.title") %></title>
    <%= stylesheet_link_tag File.join(engine_wrapper.namespaced_path, "application"), media: "all" %>
    <%= javascript_include_tag File.join(engine_wrapper.namespaced_path, "application") %>
    <%= csrf_meta_tags %>
    <%= yield :head %>
  </head>
  <body>
    <%= yield :body %>
  </body>
</html>
