<!doctype html>
<html>
  <head>
    <title><%= t("godmin.title") %></title>
    <%= stylesheet_link_tag File.join(engine_wrapper.namespaced_path, "application").gsub(/^\//, ""), media: "all" %>
    <%= javascript_include_tag File.join(engine_wrapper.namespaced_path, "application").gsub(/^\//, "") %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= yield :head %>
  </head>
  <body>
    <%= yield :body %>
  </body>
</html>
