<!doctype html>
<html>
  <head>
    <title>Godmin</title>
    <%= stylesheet_link_tag [Godmin.namespace, "application"].compact.join("/"), media: "all" %>
    <%= javascript_include_tag [Godmin.namespace, "application"].compact.join("/") %>
    <%= csrf_meta_tags %>
    <%= yield :head %>
  </head>
  <body>
    <%= yield :body %>
  </body>
</html>
