<!doctype html>
<html>
  <head>
    <title><%= t("godmin.title") %></title>
    <%= stylesheet_link_tag [engine_namespace, "application"].compact.join("/"), media: "all" %>
    <%= javascript_include_tag [engine_namespace, "application"].compact.join("/") %>
    <%= csrf_meta_tags %>
    <%= yield :head %>
  </head>
  <body>
    <%= yield :body %>
  </body>
</html>
