<% content_for :body do %>
  <!--
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <%= link_to t("godmin.title"), root_path, class: "navbar-brand" %>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <%= render partial: File.join(engine_wrapper.namespaced_path, "shared/navigation") %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <%= render partial: File.join(engine_wrapper.namespaced_path, "shared/navigation_aside") %>
        </ul>
      </div>
    </div>
  </nav>
  -->
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Articles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Discussions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Comments</a>
          </li>
        </ul>
      </div>
      <div class="col-md-10">
        <%= render "layouts/godmin/content" %>
      </div>
    </div>
  </div>
<% end %>

<%= render "layouts/godmin/layout" %>
