<!DOCTYPE html>
<html>
<head>
  <title>Godmin</title>
  <%= stylesheet_link_tag    "godmin/application", media: "all" %>
  <%= javascript_include_tag "godmin/application", "admin/custom" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">

    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <%= link_to 'Godmin', godmin.root_path, class: "navbar-brand" %>
      </div>
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <%= render partial: 'godmin/shared/nav' %>
      </div>
    </nav>

    <%= yield %>

  </div>
</body>
</html>
