<!DOCTYPE html>
<html>
<head>
  <title>Godmin</title>
  <%= stylesheet_link_tag    "godmin/application", "godmin", media: "all" %>
  <%= javascript_include_tag "godmin/application", "godmin" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <%= link_to 'Godmin', godmin.root_path, class: 'navbar-brand' %>
      </div>
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <%= render partial: 'shared/nav' %>
      </div>
    </div>
  </nav>

  <div class="container">

    <% if flash[:alert] %>
      <div class="alert alert-danger">
        <%= flash[:alert] %>
      </div>
    <% end %>
    <% if flash[:notice] %>
      <div class="alert alert-info">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <%= yield %>

    <footer>
      Powered by Godmin <%= Godmin::VERSION %> |
      Mounted as <%= Godmin.mounted_as %>
    </footer>

  </div>

</body>
</html>
