<% content_for :body do %>
  <!--
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#godmin-navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to t("godmin.title"), root_path, class: "navbar-brand" %>
      </div>
      <div class="collapse navbar-collapse" id="godmin-navbar-collapse">
        <ul class="nav navbar-nav">
          <%= render partial: File.join(engine_wrapper.namespaced_path, "shared/navigation") %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <%= render partial: File.join(engine_wrapper.namespaced_path, "shared/navigation_aside") %>
        </ul>
      </div>
    </div>
  </nav>
  -->
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <div class="sidebar">
          <div class="sidebar-title">Godmin</div>
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="#">Discussions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">Articles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Comments</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Departments</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Topics</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Newsletters</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Users</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-10">
        <%= render "layouts/godmin/content" %>
      </div>
    </div>
  </div>
<% end %>

<%= render "layouts/godmin/layout" %>
