<!DOCTYPE html>
<html>
<head>
  <title>Godmin</title>
  <%= stylesheet_link_tag    "godmin/application", "admin/custom", media: "all" %>
  <%= javascript_include_tag "godmin/application", "admin/custom" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">

    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <%= link_to 'Godmin', '#', class: 'navbar-brand' %>
      </div>
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <%= render_partial 'shared/nav' %>
      </div>
    </nav>

    <% if flash[:alert] %>
      <div class="alert alert-danger">
        <%= flash[:alert] %>
      </div>
    <% end %>
    <% if flash[:notice] %>
      <div class="alert alert-info">
        <%= flash[:notice] %>
      </div>
    <% end %>


    <%= yield %>

    <footer>
      Godmin 0.1
    </footer>

  </div>
</body>
</html>
